.hoOcbG0CqpjS-bg{
    position:fixed;
    height:100%;
    width:100%;
    background:#000;
    background:rgba(0,0,0,.8);
    z-index:99998;
    display:none;
    top:0;
    left:0
  }
  .hoOcbG0CqpjS{
    visibility:hidden;
    top:100px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    position:fixed;
    max-width:520px;
    background:#eee;
    z-index:99999;
    padding:30px 40px 34px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow:0 0 10px rgba(0,0,0,.4);
    -box-shadow:0 0 10px rgba(0,0,0,.4)
  }
  .hoOcbG0CqpjS
  .small{
    width:200px;
    margin-left:-140px
  }
  .hoOcbG0CqpjS
  .medium{
    width:400px;
    margin-left:-240px
  }
  .hoOcbG0CqpjS
  .large{
    width:600px;
    margin-left:-340px
  }
  .hoOcbG0CqpjS
  .xlarge{
    width:800px;
    margin-left:-440px
  }
  .hoOcbG0CqpjS
  .close-hoOcbG0CqpjS{
    font-size:22px;
    line-height:.5;
    position:absolute;
    top:8px;
    right:11px;
    color:#aaa;
    text-shadow:0 -1px 1px rbga(0,0,0,.6);
    font-weight:700;
    cursor:pointer
  }
  
  @media only screen and (max-width:560px){
    .hoOcbG0CqpjS{
      max-width:90%;
      left:5%;
      right:5%
    }
  }