<!doctype html>
<html lang="en">
  <head>
    <title>APT Me</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9279253230674491",
        enable_page_level_ads: true
      });
    </script>
    <meta charset="utf-8">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <meta name="keywords" content="apt, repo, cydia, sileo, package manager, download tweaks, aptme, aptme.io, apt me, download ios tweaks, view repo on web, web browser repo, repository, APT debian" />
    <meta name="description" content="APTMe.io is a free service that allows you to have an almost full package manager inside the browser!" />
    <link rel="manifest" type="text/json" href="/manifest.json">
    <link rel="mask-icon" href="assets/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="assets/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="assets/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="assets/css/material-kit.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar sticky-top bg-dark navbar-expand-lg" style="border-radius: 0%;">
      <div class="container">
        <a target="_self" class="navbar-brand" href="/">
          APT Me
        </a>
        <a target="_self" class="navbar-text btn btn-primary btn-round" href="https://github.com/M4cs/aptme-api/wiki">View API Docs</a>
      </div>
      <a target="_self" href="https://github.com/M4cs/aptme-api" class="github-corner" aria-label="View source on Github" alt="View Source on GitHub" title="View Source on GitHub">
        <svg width="80" height="80" viewBox="0 0 250 250" style="fill:#fff; color:#212121 !important; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true">
          <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
          <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
          <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path>
          <div class="ripple-container"></div></svg>
        </a>
    </nav>
    <center>
      <h1 class=""><strong>Easily View an APT Repository</strong></h1>
      <form method="GET" action="/api/repo" target="_self">
        <div class="container">
          <div class="form-group">
            <input type="url" class="form-control" name="search" id="search" aria-describedby="repoHelp" placeholder="https://example.com/debian/repo">
            <div class="form-check" style="margin-top: 4px;">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="force_cache">
                Force Reload Cache (May Take Longer)
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
              </label>
            </div>
              <button type="submit" class="btn btn-primary btn-just-icon btn-round btn-fab">
                  <i class="material-icons">search</i>
              </button>
            <small id="search" class="form-text text-muted">Please Paste the URL of the Repository You'd Like To View The Packages Of. (Works with Most Free Cydia/Sileo Repositories. Debian and Paid Repo Support Soon!)</small>
          </div>
        </div>
      </form>
    </center>
    <h4 class="text-center">Top 10 Most Viewed Repos:</h4>
      <div class="container">
        <div class="card">
          <div class="card-body text-center">
            {{leaderboard | safe}}
          </div>
        </div>
      </div>
    <!-- JS Scripts -->
    <script src="assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <script src="assets/js/plugins/moment.min.js"></script>
    <script src="assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="assets/js/material-kit.js" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
      if ($('.card-header.card-chart').length != 0) {
        md.initDashboardPageCharts();
      }

      if ($('#websiteViewsChart').length != 0) {
        md.initDocumentationCharts();
      }





      if ($('.datetimepicker').length != 0) {
        md.initFormExtendedDatetimepickers();
      }
      if ($('#fullCalendar').length != 0) {
        md.initFullCalendar();
      }

      if ($('.slider').length != 0) {
        md.initSliders();
      }

      //  Activate the tooltips
      $('[data-toggle="tooltip"]').tooltip();

      // Activate Popovers
      $('[data-toggle="popover"]').popover();

      // Vector map
      if ($('#worldMap').length != 0) {
        md.initVectorMap();
      }

      if ($('#RegisterValidation').length != 0) {

        setFormValidation('#RegisterValidation');

        function setFormValidation(id) {
          $(id).validate({
            highlight: function(element) {
              $(element).closest('.form-group').removeClass('has-success').addClass('has-danger');
              $(element).closest('.form-check').removeClass('has-success').addClass('has-danger');
            },
            success: function(element) {
              $(element).closest('.form-group').removeClass('has-danger').addClass('has-success');
              $(element).closest('.form-check').removeClass('has-danger').addClass('has-success');
            },
            errorPlacement: function(error, element) {
              $(element).closest('.form-group').append(error);
            },
          });
        }
      }

    });

    // FileInput
    $('.form-file-simple .inputFileVisible').click(function() {
      $(this).siblings('.inputFileHidden').trigger('click');
    });

    $('.form-file-simple .inputFileHidden').change(function() {
      var filename = $(this).val().replace(/C:\\fakepath\\/i, '');
      $(this).siblings('.inputFileVisible').val(filename);
    });

    $('.form-file-multiple .inputFileVisible, .form-file-multiple .input-group-btn').click(function() {
      $(this).parent().parent().find('.inputFileHidden').trigger('click');
      $(this).parent().parent().addClass('is-focused');
    });

    $('.form-file-multiple .inputFileHidden').change(function() {
      var names = '';
      for (var i = 0; i < $(this).get(0).files.length; ++i) {
        if (i < $(this).get(0).files.length - 1) {
          names += $(this).get(0).files.item(i).name + ',';
        } else {
          names += $(this).get(0).files.item(i).name;
        }
      }
      $(this).siblings('.input-group').find('.inputFileVisible').val(names);
    });

    $('.form-file-multiple .btn').on('focus', function() {
      $(this).parent().siblings().trigger('focus');
    });

    $('.form-file-multiple .btn').on('focusout', function() {
      $(this).parent().siblings().trigger('focusout');
    });
    </script>
  </body>
</html>
